{% extends "nhentai/_base.jinja2" %}
{% block title %}
    Gallery
{% endblock title %}
{% block content %}
    <div class="header">
        <h1>Gallery, page {{ page }}</h1>
    </div>
    <div class="gallery-grid">
        {% if cbz_files.galleries %}
            {% set items_per_row = 4 %}
            {% set displayed_items = cbz_files.galleries %}
            {% for row_start in range(0, displayed_items | length, items_per_row) %}
                {% set row_items = displayed_items[row_start:row_start + items_per_row] %}
                <div class="gallery-row">
                    {% for gallery_file in row_items %}
                        <a href="/galleries/series/{{ gallery_file.path.parent.name }}"
                           class="gallery-item">
                            <img src="/galleries/thumbnail/{{ gallery_file.thumbnail.name }}"
                                 alt="{{ gallery_file.info.series or 'Unknown Series' }}">
                            <h3>{{ gallery_file.info.series or 'Unknown Series' }}</h3>
                            <p>{{ gallery_file.info.title or 'No description' }}</p>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <div class="gallery-row">
                <div class="gallery-item">
                    <p>No galleries found for this language.</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
